.View {
  &-heading {
    align-items: center;
    background: linear-gradient(225deg, #293842 0%, #3c5360 100%);
    display: flex;
    height: 134px;
    padding: 1rem 3rem;
  }

  &-headerPrice {
    color: #fff;
    font: 500 20px 'Montserrat', sans-serif;
    margin-right: 20px;
    text-transform: uppercase;
    margin-left: auto;
  }

  &-title {
    color: #fff;
    font: 800 24px 'Montserrat', sans-serif;
    margin-right: 20px;
    text-transform: uppercase;
  }

  &-body {
    padding: 28px 0 65px 0;
    background-color: #fff;
    margin: 0 auto;
    max-width: 1200px;
  }

  &-body-header {
    display: flex;
    justify-content: space-between;
  }

  &-logo {
    height: 50px;
    margin-right: 25px;
    object-fit: cover;
    width: 50px;
  }

  &-content {
    display: flex;
    flex-flow: row wrap;
    margin-top: 30px;
    position: relative;
    min-height: 400px;
  }

  &-select-search-wrapper {
    position: relative;
  }

  &-select-search {
    fill: #74a1c8;
    left: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }

  &-panel {
    display: flex;
    align-items: center;
  }

  &-icon-blue {
    fill: #a0afc4;
    height: 12px;
    margin-right: 8px;
    transition: 0.6s;
    width: 18px;
  }

  &-icon--flip {
    transform-style: preserve-3d;
    transform: rotateX(180deg);
  }

  &-icon--active {
    fill: #ffa720;
  }

  &-icon-label {
    color: #74a1c8;
    font: 500 14px 'Montserrat', sans-serif;
    line-height: 18px;
    margin: 0 28px 0 0px;
  }

  &-icon-label--button {
    padding: 0;
    perspective: 1000px;
  }
}
